.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    >svg{
        height: 30px;
        width: 30px;
    }

    *{
        cursor: pointer;
    }
}

.history-box{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .4s linear;
    cursor: pointer;

    &:hover{
        transform: scale(1.05);
        opacity: 0.5;
    }

    *{
        cursor: pointer;
    }
}