.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;

    >svg{
        height: 30px;
        width: 30px;
    }

    *{
        cursor: pointer;
    }
}

.logo::before{
    right: -50px;
    bottom: 7px;
    content: "reset?";
    line-height: 20px;
    position: absolute;
    filter: invert(1);
    mix-blend-mode:luminosity;
}


.history-box{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .4s linear;
    cursor: pointer;

    &:hover{
        transform: scale(1.05);
        opacity: 0.5;
    }

    *{
        cursor: pointer;
    }
}