@import '@styles/mixins';
@import '@styles/fonts';
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    svg{
        height: 20px;
        width: 20px;
    }
}

.box{
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
    transition: all .4s linear;
    position: relative;
    span{
        @include font(2.275em, 500);
        font-family: OpenSans;
        line-height: 50px;
    }
    .cursor{
        height: 50px;
        width: 2px;
        position: absolute;
        animation: blink 1s infinite;
    }

    textarea{
        height: 300px;
        width: 100%;
        position: absolute;
        opacity: 0;
        z-index: 5;
    }

}

.blur{
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    transition: all .2s linear;
    opacity: 0.8;
}

@keyframes blink{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}

@media (max-width: 550px){
    .box {
        span{
            font-size: 1.5em;
            line-height: 35px;
        }

        .cursor{
            margin-top: 1.1px;
            height: 32.8px;
        }
    }
}