@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/fonts';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body{
    height: 100vh;
    display: grid;
    grid-template: 50px 1fr 50px / 90%;
    justify-content: center;
    font-family: Poppins;
}

header{
    height: 50px;
    display: flex;
    align-items: center;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    @include font(3em, 800)
}

h2{
    @include font(2em, 600)
}

h3{
    @include font(1.5em, 800)
}

p{
    @include font(1em, 400)
}

a{
    text-decoration: none;
}