@import '@styles/mixins';
@import '@styles/variables';

.cont{
    padding: 20px;
    height: calc(100vh - 100px);
    width: 100%;
    display: grid;
    grid-template: 80px 1fr / repeat(2, 1fr);
    justify-items: center;
    position: absolute;
    z-index: 4;

    >aside{
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    p{
        font-size: 1.5em;
    }
}

@media (max-width: 800px){
    .cont{
        display: flex;
        flex-direction: column;
        gap: 10px;

        div{
            flex-direction: row;
            flex-wrap: wrap;
        }

        aside{
            flex-direction: column;
            align-items: center;

            h1{
                line-height: 50px;
            }

            svg{
                display: none;
            }
        }
    }
}