@import '@styles/mixins';

.cont{
    display: flex;
    gap: 10px;
    align-items: center;

    a{
        display: flex;
        align-items: center;
        gap: 5px;
        @include font(0.875em, 300);
        transition: all .2s linear;

        &:hover{
            opacity: 0.5;
        }

        *{
            cursor: pointer;
        }
        svg{
            height: 15px;
            width: 15px;
        }
    }
}

@media (max-width: 400px){
    .cont a:nth-child(2), .cont a:nth-child(3){
        display: none;
    }
}